.DataCollectionPage {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;

  h1 {
    margin-bottom: 1rem;
    padding-top: 1rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    color: var(--color-primary-blue);
    font-size: 2.5rem;
    font-weight: bold;
  }

  h2 {
    margin: 1.5rem 0;
    color: var(--color-primary-blue);
    font-size: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;

    &.error {
      color: red;
      font-style: italic;
    }
  }

  > header,
  > main > div {
    padding: 0 clamp(1rem, 5%, 8rem);
  }

  > header {
    margin-bottom: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

    height: 5rem;
    border-bottom: 1px solid var(--color-secondary-blue);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary-blue);

    #header-logo {
      margin: 0;
      margin-right: 1rem;
      height: 2.5rem;
      width: auto;
    }
  }

  > nav {
    margin-top: auto;
    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;

    align-self: center;
    display: flex;
    flex-flow: row nowrap;

    .arrow-prev {
      margin-right: 1rem;
      color: var(--color-primary-blue);

      &.Mui-disabled {
        color: var(--color-gray);
      }
    }

    .arrow-next {
      margin-left: 1rem;
      color: white;
      background-color: var(--color-primary-blue);

      &.Mui-disabled {
        background-color: var(--color-gray);
      }
    }
  }

  .feedback-form {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: var(--color-gray);

    .MuiRadio-root {
      color: var(--color-primary-blue);

      &:first-child {
        margin-left: 1.5rem;
      }

      &:last-child {
        margin-right: 1.5rem;
      }
    }
  }

  .Final {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 0;
    padding-right: 0;

    > div {
      margin-right: 1rem;
    }

    img {
      width: auto;
      height: 100%;
    }
  }
}
