.key-button {
  aspect-ratio: 1;
  border-color: #ff0000;
  color: #ffffff;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  margin: 1rem;
}
