.VideoSelectionPage {
  height: 80vh;
  padding: 50px;

  h1 {
    padding: 20px 0;
  }

  .VideoSelectionContainer {
    height: 80%;
    overflow-y: auto;
  }

  .Thumbnail {
    display: flex;
    margin: 10px 0;

    img {
      max-width: 250px;
      max-height: 250px;
      border-radius: 5px;
    }

    .MuiCheckbox-root {
      color: var(--color-primary-blue);

      svg {
        color: var(--color-primary-blue);
      }
    }
  }

  .Info {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-blue);

    p {
      margin-left: 30px;
    }
  }
}
