.toggle {
  height: 3rem;
  width: 10rem;
  border: none;
  background: black;
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  margin: 0.6rem;
  padding: 1rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
