.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 100%;
  text-align: center;
  display: grid;
  grid-gap: 3%;
  padding: 0 0.5%;
  grid-template-rows: 10% 50% 40%;
  grid-template-columns: repeat(12, 1fr);
}

.grid-item {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  grid-column-end: span 12;
}

.grid-item > * {
  flex: 1;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
